

form {

    width: 300px;

    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background: skyblue;

    border-radius: 20px;

    position: absolute;

    top: 80px;

    left: 0;
    

}

h2 {

    text-align: center;

    margin-bottom: 40px;

}

input {

    display: block;

    border: 2px solid #ccc;

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}

label {

    color: #888;

    font-size: 18px;

    padding: 10px;

}

button {

    float: right;

    background: rgb(35, 174, 202);

    padding: 10px 15px;

    color: black;

    border-radius: 5px;

    margin-right: 10px;

    border: none;

}

button:hover{
transform: scale(1.1);

}

.error {

   background: #F2DEDE;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}

h1 {

    text-align: left;

    color: rgb(134, 3, 3);

}

a : not(.q1) { /*This doesn't apply to a tags of class q1*/

    float: right;

    background: rgb(183, 225, 233);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

a:hover{

    opacity: .7;

}

.faqq{

    width: 300px;

    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background: skyblue;

    border-radius: 20px;

    position: absolute;

    left: 0;

    top : 470px;



}
.content{

    margin: auto ;
    
    width: 50%;

    border: 3px solid rgb(177, 142, 142);
    
    height: 735px;
    
    padding: 10px;background: skyblue;

    border-radius: 20px;


}

.content::-webkit-scrollbar 
            {

                display: none;      /*Hides scrollbar while still being able to scroll*/
            }

.ql{

    width: 300px;

    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background: skyblue;

    border-radius: 20px;

    position: absolute;

    right: 0;

    top : 80px;

}

.status
{

      width: 300px;

    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background: skyblue;

    border-radius: 20px;

    position: absolute;

    right: 0;

    top : 470px;

}


    body
    {

       background-image: url("bg1.jpg");
      
       background-color: #cccccc;

    }

    /* CSS FOR HOME */
/* Add a black background color to the top navigation */
.topnav {

  background-color: transparent;
  
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {

  float: left;

  color: black;

  text-align: center;

  text-decoration: none;

  font-size: 17px;

  background: rgb(183, 225, 233);

  padding: 10px 15px;

  border-radius: 10px;

  margin-right: 10px;

  border: none;

}

/* Change the color of links on hover */

/* Add a color to the active/current link */


p
{
    text-align: left;
}


/* footer css*/


.copyright
{
    overflow: hidden;
   
    padding: 3em 0em;
   
    border-top: transparent;
   
    text-align: center;
   
    background-image: url(bg1.jpg);

    font-style: oblique;
}
.copyright p
{
    letter-spacing: 1px;
    
    font-size: 0.90em;
    
    color: black;
}
.faqq::-webkit-scrollbar
            {
                display: none;      /*Hides scrollbar while still being able to scroll*/
            }
